/* container is the id of the canvas */
#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.iteration {
    font-size: large;
    font-weight: bold;
}